.Navbar {
  display: flex;
  justify-content: space-between;
  background-color: rgb(98, 132, 167);
  padding: .2rem;

  &-link {
    color: navy;
    font-size: 1.4rem;
    padding: 0.5rem 1rem;

    :active,
    :hover {
      text-decoration: none;
    }
  }
}