.Sidebar {
  background-color: whitesmoke;
  position: fixed;
  left: 0;
  height: 100%;
  width: 14rem;
  box-shadow: 9px -4px 5px -6px rgba(0, 0, 0, 0.75);

  &-section {
    width: 100%;
    font-weight: bold;
    margin: 0.5rem 0;
    font-size: 1.4rem;
  }

  &-menuitem {
    display: block;
    font-weight: normal;
    text-decoration: none;
    font-size: 1.3rem;
    padding: .2rem;
  }

  &-activelink {
    font-weight: bold;
    background-color: lightgray;
    border-left: 4px solid blue;
  }
}